#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

@media(max-width: 768px){
	#boxes .box{
    float:none;
    text-align:center;
    width:100%;
}